<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.shinnal.spring.test.mve.repository.SellerRepository">
 
 	<insert id="insertSeller" parameterType="map">
 		INSERT INTO
 			`seller`
 		(	
 			`nickname`
 			, `profileImage`
 			, `temperature`
 		)
 		VALUE
 		(
 			${nickname}
 			, ${profileImage}
 			, ${temperature}
 		)
 		
 	
 	</insert>
  
 </mapper>