<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>즐겨찾기 리스트</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
	<div class="container">
	
		<h2 class="mt-3 mb-2">즐겨찾기 목록</h2>
		
		<table class="table text-center">
			<thead>
				<tr>
					<th>No.</th>
					<th>이름</th>
					<th>주소</th>
					<th></th>
				</tr>
			</thead>
	
			<tbody> 
				<tr th:each="favorite:${favorite}" class="deleteTable">
					 <td th:text="${favorite.id}">No.</td>				
					 <td th:text="${favorite.name}">이름</td>
					 <td th:text="${favorite.url}">주소</td>
					 <td> <button type="button" class="btn btn-danger btn-sm delete-Btn" th:data-favorite-id="${favorite.id}">삭제</button></td>
					 <!-- th:value="${favorite.id}" 버튼에 값(pirmary key)을 부여하여 불러와 작업하기 / data 속성은 표준이 아닌 속성이나, 표준 HTML 요소에 추가 정보를 저장할 수 있게 도와줌  -->
				</tr>
			</tbody>
		</table>
	</div>
	<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
	<script>
	$(function() {
		
		$(".delete-Btn").on("click", function() {
			
			// 어떤 버튼 태그 객체에 이벤트가 발생했는지 확인
			// 이벤트가 발생한 태그 객체 
			// let id = $(this).val();
				
			let id = $(this).data("favorite-id");
							
			$.ajax({
				type:"get"
				, url:"/ajax/favorite/delete"
				, data:{"id":id}
				, success:function(response) {
					
					if(response.result =='success') {
						location.reload(); // 해당페이지 새로고침
					}else {
						alert("삭제 실패");
					}
				}
				, error:function(response) {
					alert("삭제 에러!");		
				}
				
			})
			
			
		});
	})	
	</script>
</body>
</html>